
/* --- font --- */
@font-face {
    font-family: GillSansStd;
    src: url('../font/GillSansStd.otf');
    letter-spacing: 3px!important;
}
body{
	font-family: GillSansStd, Arial;
}

/* --- root colors --- */
:root{
	--text-primary: #760612 !important;
	--text-secondary: #aa7b51!important;
	--bg-primary: #760612!important;
	--bg-secondary: #aa7b51!important;
}
/* --- tag section --- */
strong{
	font-weight: normal;
}

/* --- colors --- */
.text-primary{
	color: var(--text-primary)!important;
}
.text-secondary{
	color: var(--text-secondary)!important;
}
.bg-primary{
	background-color: var(--bg-primary)!important;
}
.bg-secondary{
	background-color: var(--bg-secondary)!important;
}

/* --- font size --- */
.font-16{
	font-size: 16px!important;
}
.font-lg{
	font-size: 48px!important;
}
p, #processos li{
	font-size: 18px;
}

h2, p, nav li, #home span{
	letter-spacing: 2px;
}
a.text-secondary:focus,
a.text-secondary:hover{
	color: var(--text-primary)!important;
}


.height-full{
	height: 100vh;	
}
.border-md{
	border: 15px solid #fff;
}
.border-lg{
	border: 20px solid #fff;
}
.rounded2{
	border-radius: 15px;	
}
.img-folhas-cafe img{
	position: absolute;
	top: 430px;
	right: 0px;
	width: 400px;
	z-index: 99;
}

/* --- menu --- */
nav.mt-md-2,
nav.mt-md-5{
	transition: .5s;
}

/* --- carousel/slide home --- */
#home span.h2,
#home span.display-3{
	line-height: 0.5;
}
.carousel-inner{
	text-align: center;
}
.carousel-indicators{
	position: relative;
	margin-top: 30px !important;
}
.carousel-indicators .active{
	background-color: var(--bg-primary);
}
.carousel-indicators li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 4px;
	background-color: var(--bg-secondary);
}

/* --- header and footer --- */
.bg-img-primary {
  	position: relative;
  	/*color: white;*/
  	background: url(../img/bg-img-primary.png) no-repeat center center;
    background: url(../img/bg-img-primary.png) no-repeat center center;
    background: url(../img/bg-img-primary.png) no-repeat center center;
    background-size: cover;	
}

/* --- Sobre --- */
#sobre .img-bg-01{
	position: relative;
	width: 440px;
	height: 100%;
	object-fit: cover;
}
#sobre .img-bg-02{
	position: absolute;
	width: 380px;
	top: 10%;
	bottom: 50%;
	left: 35%;
}
#sobre .w-60{
	width: 60%;
}

/* --- Instalações --- */
#instalacoes h2.h1{
	margin: 40px 0 0 200px;
}
#instalacoes hr{
	width: 200px;
	border-top: 5px solid;
	margin: 50px 0 10px 0;
	padding: 0px;
}
#instalacoes .img-bg-01{
	position: relative;
	width: 550px;
	height: 100%;
	object-fit: cover;
}
#instalacoes .img-bg-02{
	position: absolute;
	width: 550px;
	top: 5%;
	bottom: 50%;
	right: 15%;
}

/* --- Processos --- */
#processos .bg-img-processos{
	background: url(../img/img-bg-processos.png);
	background-position: center center;
	background-size: cover;
	height: 230px;
	padding-top: 35px;
}
#processos hr.hr1{
	width: 200px;
	border-top: 5px solid;
	margin: 0;
}
#processos h2.h1{
	margin: 0 0 0 200px;
}
#processos hr.hr2{
	position: absolute;
	width: 300px;
	border-top: 5px solid;
	margin-top: -3px;
	left: 40%;
	right: 40%;
}
#processos hr.hr3{
	width: 300px;
	border-top: 5px solid;
	margin-top: -38px;
	margin-left: auto;
	margin-right: auto;
}

/* --- contato --- */
#contato input{
	border: none;
	border-bottom: 1px solid;
}
#contato input,
#contato textarea{
	border-radius: 0;
}
#contato hr{
	width: 200px;
	border-top: 5px solid;
	margin: 0;
}
#contato h2.h1{
	margin: 0 0 0 200px;
}
#contato .alert{
	font-size: 22px;
	font-weight: bold;
	width: 75%;
	margin: 0 auto;
}
#contato img.img-galho-02{
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	width: 200px;
}
::placeholder{
  color: var(--text-primary)!important;
  opacity: 1!important;
}

/* --- footer --- */
footer .container{
	padding-top: 35px;
	padding-bottom: 35px;
}

/* --- Button Scroll top --- */
#buttonTop{
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 20px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
#buttonTop:hover {
  cursor: pointer;
  background-color: var(--text-secondary)!important;
}
#buttonTop.show {
  opacity: 1;
  visibility: visible;
}

/* --- Barra de rolagem do navegador --- */
::-webkit-scrollbar{width: 10px;height: 10px;}
::-webkit-scrollbar-track-piece {background-color: var(--bg-secondary);}
::-webkit-scrollbar-thumb:vertical{background-color: var(--bg-primary);height: 5px;}
::-webkit-scrollbar-thumb:horizontal{background-color: var(--bg-primary);width: 5px;}

/* --- dispositivos com largura de até 768px --- */
@media screen and (max-width: 768px){
	/* --- height full --- */
	.height-full{
		height: auto!important;	
	}

	/* --- galho --- */
	.img-folhas-cafe img{
		position: absolute;
		top: 520px;
		width: 150px;
		height: auto;
	}

	/* --- home --- */
	.font-lg{
		font-size: 30px!important;
	}
	#home .display-3{
		font-size: 50px!important;
	}
	#home .h3{
		font-size: 28px;
	}
	#home .h1{
		font-size: 30px;	
	}
	#indicators{
		margin: 0 auto;
	}

	/* --- folhas cafe --- */
	.img-folhas-cafe img{
		top: 650px;
	}

	/* --- sobre --- */
	#sobre .col-12{
		height: auto;
	}
	#sobre img.img-bg-01{
		height: auto;
	}
	#sobre img.img-bg-02{
		top: 8%;
		left: 10%;
		right: 10%;
		width: 80%;
	}
	#sobre .w-60{
		width: 100%!important;
		text-align: justify;
	}

	/* --- instalacoes --- */
	#instalacoes h2.h1{
		margin: 40px 0 0 50px;
		font-size: 30px;
	}
	#instalacoes hr{
		width: 50px;
	}
	#instalacoes .row .col-md-3 img,
	#instalacoes .row br{
		display: none;
	}
	#instalacoes h2{
		font-size: 16px;
	}
	#instalacoes span.bg-secondary{
		background-color: transparent!important;
	}
	#instalacoes .img-bg-01{
		height: auto;
	}
	#instalacoes .img-bg-02{
		top: 10%;
		left: 10%;
		right: 10%;
		width: 80%;
	}

	/* --- Processos --- */
	#processos h2.h1{
		margin: 0 0 0 50px;
		font-size: 30px;
	}
	#processos hr.hr1{
		width: 50px;
	}
	#processos hr.hr2,
	#processos hr.hr3{
		width: 100px;
	}
	#processos hr.hr3{
		margin-bottom: -2px;
	}
	#processos .w-75{
		width: 90%!important;
	}
	#processos h2{
		font-size: 26px;
	}
	/* --- Tratamento --- */
	#tratamento h2.h1{
		font-size: 30px;
	}
	/* --- Contato --- */
	#contato hr{
		width: 50px;
	}
	#contato h2.h1{
		margin: 0 0 0 50px;
		font-size: 30px;
	}
	#contato .alert{
		font-size: 16px;
		width: 100%;
	}
	#contato .btn{
		width: 100%;
	}
	#contato img.img-galho-02{
		left: -105px;
		width: 150px;
	}
}